<section class="wrap_sig_in">
	<h2>Please sign in <i class="fa fa-sign-in"></i></h2>

	<form action="/sessions" method="post">
		
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		
		<button class="shape_btn look_btn btn_btn" type="submit">Sign in</button>
	</form>

	<a href="/users/reset_password"><i class="fa fa-hand-o-right"></i>Forgotten password?</a>
</section>