<header class="top_head">
    <h1 class="title">BookMark Manager</h1>

        <% if current_user %>

            <span class="greet">Welcome, <%= current_user.email %></span>

            <form  action="/sessions" method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="shape_btn look_btn btn_btn" type="submit"><i class="fa fa-sign-out"></i>Sign Out</button>
            </form>
            
            <a class="shape_btn look_btn" href="/links/new"><i class="fa fa-plus"></i>Add Link</a>

        <% else %>
           <aside>
               <a class="shape_btn look_btn" href="/sessions/new"><i class="fa fa-sign-in"></i> Sign In </a>
               <a class="shape_btn look_btn" href="/users/new"><i class="fa fa-send-o"></i>    Sign Up </a>
           </aside>

        <% end %>
</header>