<% if flash[:notice] %>
	
	<div class="message notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
	<ul class="message errors">
	<% flash[:errors].each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
<% end %>