<p>Please enter your new password <%= @user.email %></p>

<form action="/users/confirm_password_reset" method="post">
	
	<input type="hidden" name="password_token" value="<%= @user.password_token %>">
	Password:              <input type="password" name="password">
	Confirm your password: <input type="password" name="password_confirmation">

	<input type="submit" value="Send">

</form>