<section class="confirm_pass">
	<p>Please enter your new password <%= @user.email %></p>

	<form action="/users/confirm_password_reset" method="post">
		
		<input type="hidden" name="password_token" value="<%= @user.password_token %>">
		<input type="password" placeholder="Password" name="password">
		<input type="password" placeholder="Confirm Password" name="password_confirmation">

		<button class="look_btn shape_btn btn_btn" type="submit">Send</button>

	</form>
</section>