<section class="reset_pswd">
	<form action="/users/reset_password" method="post">
		
		<p>Please add your email account! <i class="fa fa-puzzle-piece"></i></p>

		<input type="text" name="email" placeholder="Email">

		<button class="shape_btn look_btn btn_btn" type="submit">Send</button>

	</form>
</section>