@import "partials/base";

/* Style rules */

body{
    background: url(/images/back.png)
}

.wrapper{
	width: $width;
	margin: 30px auto 60px;
  min-height: 100%;
}

.wrap_look{
	font-family: $main_font !important;
	border: 1px solid;
	box-shadow: 1px 1px 50px black;
	background: whitesmoke;
}