@import "partials/base";

/* Styling forms */

.wrap_sig_in{

	@include position_sign;

	input{ @include input_style;}
	
	a{
		@include link_style;
		float: right;
		position: inherit;
		top: -48px;
		right: -150px;
		font-size: 20px;
	}

	.btn_btn{
  	float: right;
		position: relative;
		top: -126px;
		left: -40px;
		border: 2px solid $head_col_shad; 
		
		@include new_btn;

  	&:hover{ background: $head_col_text; 
  	}  
  }
}

.wrap_sign_up{

	@include position_sign;

	input{ @include input_style;}

	button{
		float: right;
		position: relative;
		top: -140px;
		right: 70px;
	}

	.btn_btn{
  	border: 2px solid $head_col_shad; 

		@include new_btn;

  	&:hover{ background: $head_col_text; 
  	}  
  }
}

.reset_pswd, .confirm_pass{
	
	@include position_sign;

	input{ @include input_style;}

	p{
		position: relative;
		top: -20px;
		font-size: 24px;

		&:first-letter{ font-size: 40px }
	}
	
	.btn_btn{
  	border: 2px solid $head_col_shad; 
  	float: left;
		position: relative;
		top: -72px;
		left: 230px;

		@include new_btn;

  	&:hover{ background: $head_col_text; 
  	}  
  }
}
