/************

 BookMark manager Styles 

*************/
/* CSS reset */
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,latin-ext);
* {
  margin: 0;
  padding: 0; }

/* Partials */
/* SCSS variables */
/*google  fonts*/
/* Reusable blocks */
.message, .notice, .errors {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: white; }

.notice {
  background-color: rgba(67, 183, 120, 0.75); }

.errors {
  background-color: rgba(245, 74, 8, 0.75); }

.errors li {
  list-style: none; }

/* SCSS variables */
/*google  fonts*/
/* Reusable blocks */
.message, .notice, .errors {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: white; }

.notice {
  background-color: rgba(67, 183, 120, 0.75); }

.errors {
  background-color: rgba(245, 74, 8, 0.75); }

.errors li {
  list-style: none; }

/* Style rules */
body {
  background: url(/images/back.png); }

.wrapper {
  width: 800px;
  margin: 30px auto 60px;
  min-height: 100%; }

.wrap_look {
  font-family: "Ubuntu Mono" !important;
  border: 1px solid;
  box-shadow: 1px 1px 50px black;
  background: whitesmoke; }

/* SCSS variables */
/*google  fonts*/
/* Reusable blocks */
.message, .notice, .errors {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: white; }

.notice {
  background-color: rgba(67, 183, 120, 0.75); }

.errors {
  background-color: rgba(245, 74, 8, 0.75); }

.errors li {
  list-style: none; }

/* Buttons style */
.shape_btn {
  border: 2px solid #535353;
  display: inline-block;
  width: 90px;
  padding: 6px;
  height: 15px;
  border-radius: 20px;
  margin: 20px; }

.look_btn {
  text-decoration: none;
  text-align: center;
  color: #535353;
  box-shadow: 1px 1px 1px, -1px -1px 1px; }
  .look_btn:hover {
    color: #F54A08;
    background: #ffffff;
    box-shadow: none; }

/* SCSS variables */
/*google  fonts*/
/* Reusable blocks */
.message, .notice, .errors {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: white; }

.notice {
  background-color: rgba(67, 183, 120, 0.75); }

.errors {
  background-color: rgba(245, 74, 8, 0.75); }

.errors li {
  list-style: none; }

/* Top header styles */
.top_head {
  height: 80px;
  background: #F5E168;
  display: flex;
  padding: 0 5px;
  box-shadow: 1px 1px 1px; }
  .top_head .title {
    font: 70px "Amatic SC", cursive;
    color: #ffffff;
    display: inherit;
    position: relative;
    left: 20px;
    letter-spacing: 5px; }
  .top_head form {
    margin-left: 40px; }
  .top_head .btn_btn {
    height: 31px;
    background: #F5E168;
    font-size: 14px; }
    .top_head .btn_btn:hover {
      cursor: pointer; }
    .top_head .btn_btn:hover {
      background: #ffffff; }
  .top_head aside {
    display: inherit;
    margin: 0 auto; }
  .top_head .greet {
    width: 300px;
    position: absolute;
    top: 90px;
    margin-left: 65px; }

/* SCSS variables */
/*google  fonts*/
/* Reusable blocks */
.message, .notice, .errors {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: white; }

.notice {
  background-color: rgba(67, 183, 120, 0.75); }

.errors {
  background-color: rgba(245, 74, 8, 0.75); }

.errors li {
  list-style: none; }

/* Link styles */
.link_wrap {
  width: 700px;
  margin: 0 auto;
  padding: 5%; }
  .link_wrap li {
    list-style: none; }
  .link_wrap .link {
    background-color: #EEE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 10px inherit;
    padding: 15px 10px;
    height: 100px; }
    .link_wrap .link a {
      text-decoration: none;
      color: #F54A08;
      letter-spacing: 1px; }
      .link_wrap .link a:hover {
        text-decoration: underline; }
    .link_wrap .link .description {
      margin: 10px inherit; }
    .link_wrap .link .source {
      position: relative;
      top: 20px; }
  .link_wrap .tag_wrap {
    position: relative;
    top: -40px;
    right: 10px;
    width: 300px;
    float: right; }
    .link_wrap .tag_wrap .tag {
      border: 1px solid;
      padding: 4px;
      border-radius: 5px;
      background: #F54A08;
      color: white;
      text-shadow: 0px 1px black;
      box-shadow: 0 0 3px black; }

.new_link {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 420px;
  padding: 3%; }
  .new_link h2 {
    position: inherit;
    top: -20px; }
    .new_link h2:first-letter {
      font-size: 40px; }
  .new_link input {
    display: block;
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    box-shadow: 1px 1px 20px grey; }
  .new_link .btn_btn {
    float: right;
    position: relative;
    top: -126px;
    right: 60px;
    border: 2px solid #535353;
    height: 31px;
    background: #F5E168;
    font-size: 14px; }
    .new_link .btn_btn:hover {
      cursor: pointer; }
    .new_link .btn_btn:hover {
      background: #ffffff; }

/* SCSS variables */
/*google  fonts*/
/* Reusable blocks */
.message, .notice, .errors {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: white; }

.notice {
  background-color: rgba(67, 183, 120, 0.75); }

.errors {
  background-color: rgba(245, 74, 8, 0.75); }

.errors li {
  list-style: none; }

/* Styling forms */
.wrap_sig_in {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 420px;
  padding: 3%; }
  .wrap_sig_in h2 {
    position: inherit;
    top: -20px; }
    .wrap_sig_in h2:first-letter {
      font-size: 40px; }
  .wrap_sig_in input {
    display: block;
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    box-shadow: 1px 1px 20px grey; }
  .wrap_sig_in a {
    text-decoration: none;
    color: #F54A08;
    letter-spacing: 1px;
    float: right;
    position: inherit;
    top: -48px;
    right: -210px;
    font-size: 20px; }
    .wrap_sig_in a:hover {
      text-decoration: underline; }
  .wrap_sig_in .btn_btn {
    float: right;
    position: relative;
    top: -126px;
    left: -40px;
    border: 2px solid #535353;
    height: 31px;
    background: #F5E168;
    font-size: 14px; }
    .wrap_sig_in .btn_btn:hover {
      cursor: pointer; }
    .wrap_sig_in .btn_btn:hover {
      background: #ffffff; }

.wrap_sign_up {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 420px;
  padding: 3%; }
  .wrap_sign_up h2 {
    position: inherit;
    top: -20px; }
    .wrap_sign_up h2:first-letter {
      font-size: 40px; }
  .wrap_sign_up input {
    display: block;
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    box-shadow: 1px 1px 20px grey; }
  .wrap_sign_up button {
    float: right;
    position: relative;
    top: -140px;
    right: 70px; }
  .wrap_sign_up .btn_btn {
    border: 2px solid #535353;
    height: 31px;
    background: #F5E168;
    font-size: 14px; }
    .wrap_sign_up .btn_btn:hover {
      cursor: pointer; }
    .wrap_sign_up .btn_btn:hover {
      background: #ffffff; }

.reset_pswd, .confirm_pass {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 420px;
  padding: 3%; }
  .reset_pswd h2, .confirm_pass h2 {
    position: inherit;
    top: -20px; }
    .reset_pswd h2:first-letter, .confirm_pass h2:first-letter {
      font-size: 40px; }
  .reset_pswd input, .confirm_pass input {
    display: block;
    margin-bottom: 20px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    box-shadow: 1px 1px 20px grey; }
  .reset_pswd p, .confirm_pass p {
    position: relative;
    top: -20px;
    font-size: 24px; }
    .reset_pswd p:first-letter, .confirm_pass p:first-letter {
      font-size: 40px; }
  .reset_pswd .btn_btn, .confirm_pass .btn_btn {
    border: 2px solid #535353;
    float: left;
    position: relative;
    top: -72px;
    left: 230px;
    height: 31px;
    background: #F5E168;
    font-size: 14px; }
    .reset_pswd .btn_btn:hover, .confirm_pass .btn_btn:hover {
      cursor: pointer; }
    .reset_pswd .btn_btn:hover, .confirm_pass .btn_btn:hover {
      background: #ffffff; }

/* Amends */
.fa-plus {
  font-size: 14px !important; }

/*# sourceMappingURL=style.css.map */
