<section class="new_link">
    <form action="/links" method="post">

        URL:   <input type="text" name="url">
        Title: <input type="text" name="title">
        Tags:  <input type="text" name="tags">

        <button class="shape_btn look_btn btn_btn" type="submit"><i class="fa fa-plus"></i>Add link</button>
    </form>
</section>