<section class="new_link">
    <form action="/links" method="post">

      <input type="text" placeholder="URL" name="url">
      <input type="text" placeholder="Title" name="title">
      <input type="text" placeholder="Tags" name="tags">

        <button class="shape_btn look_btn btn_btn" type="submit"><i class="fa fa-plus"></i>Add link</button>
    </form>
</section>