/************

 BookMark manager Styles 

*************/

/* CSS reset */

*{
	margin: 0;
	padding: 0;
}


/* Partials */

@import "partials/base";

@import "partials/main_page";
@import "partials/buttons";
@import "partials/header";
@import "partials/style_link";
@import "partials/style_forms";
@import "partials/footer";



/* Amends */

.fa-plus{
	font-size: 14px !important;
}


