<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BookMark</title>

	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	<div class="wrapper wrap_look">
		
		<%= partial :"partials/_header" %>
		<%= partial :"partials/_notice" %>	

		<%=yield%>
	</div>

</body>
</html>

